@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}
<h1>Index - html code in default controller </h1><br>

id= @ViewBag.id<br>
a= @ViewBag.a<br>
b= @ViewBag.b<br>
c= @ViewBag.c<br>